In [3]:
import numpy as np
import pandas as pd
import csv
import matplotlib as plt
import tqdm

In [ ]:
# with open("squircle test data (2).csv", 'r', newline='') as csvfile:
#     reader = csv.reader(csvfile)
#     l = []
#     for row in reader:
#         try: first_el = [int(row[0])]
#         except: first_el = [0]
#         second_el = [i for i in row if i == 'Squircle' or i == 'Rounded rectangle']
#         third_el = [i for i in row if i == 'click' or i == 'purchase']
#         forth_el = [row[1]]
#         l.append(first_el + second_el + third_el + forth_el)

# df = pd.DataFrame(l[1:])
# df.columns = ['Id', 'Group', 'Event', 'Date']
# df['Date'] = pd.to_datetime(df['Date'])

# print(len(df))
# df.head()

In [21]:
with open("squircle test data (2).csv", 'r', newline='') as csvfile:
    reader = csv.reader(csvfile)
    l = []
    for row in reader:
        if row[2] != 'click' and row[2] != 'purchase':
            row.pop(2)
        try: row.pop(6)
        except: pass
        l.append(row)

df = pd.DataFrame(l[1:-2])
df.columns = ['Id', 'Date', 'Event', 'Group', 'Country', 'Source']
df['Date'] = pd.to_datetime(df['Date'])
df = df.replace({'': None})
df

,Id,Date,Event,Group,Country,Source
0,433952333075,2023-06-13,click,Rounded rectangle,Germany,6
1,434445569649,2023-06-03,click,Squircle,Germany,1
2,434445569649,2023-06-03,purchase,Squircle,Germany,1
3,434461599357,2023-06-09,click,Rounded rectangle,Germany,1
4,434941603456,2023-06-10,click,Squircle,Turkey,1
...,...,...,...,...,...,...
257307,685139888953,2023-07-22,click,Squircle,United Arab Emirates,None
257308,685245954752,2023-07-22,click,Squircle,Bahamas,None
257309,685253768774,2023-07-22,click,Squircle,United States,4
257310,685321577596,2023-07-22,click,Squircle,Egypt,None
257311,685328124671,2023-07-22,click,Squircle,Spain,None